AddDefaultCharset UTF-8

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php

RewriteCond %{HTTP_HOST} ^bws-shop.ru$
RewriteRule ^(.*)$ "http\:\/\/www\.bws-shop\.ru\/$1" [R=301,L]

Redirect 301 /about http://www.bws-shop.ru/404
Redirect 301 /uslugi http://www.bws-shop.ru/404
Redirect 301 /products https://www.avito.ru/i106048785

