AddDefaultCharset UTF-8

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php

RewriteCond %{HTTP_HOST} ^bws-shop.ru$
RewriteRule ^(.*)$ "https\:\/\/www\.bws-shop\.ru\/$1" [R=301,L]

RewriteCond %{HTTPS} =off 
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

    
    
RewriteCond %{REQUEST_URI}  ^\/case\/.*$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^case\/(.*)$ \/casepage.php